@model CredidSystem.Models.BranchViewModel




<h4 style="display:flex; justify-content:center">Edit</h4>
<hr />
<div class="row" style="display:flex; justify-content:center">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchantId" class="control-label"></label>

                <select asp-for="MerchantId" class="form-control">
                    <option value="" hidden>Select Merchant</option>
                    @foreach (var item in ViewBag.Merchants)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>


</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}